.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #f6fdb9;
  border: 1px solid #333;
  padding: 30px;
}

.project-section {
  margin: 50px 0;
  background-color: #fff;
  border: 1px solid #333;
  padding: 30px;
}

h1 {
  font-size: 36px;
  margin-bottom: 50px;
}

h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 18px;
  margin-top: 25px;
}

.footer {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}